.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #00000030;
    backdrop-filter: blur(1px);
    padding: 1rem 5%;
}

.heading {
    display: flex;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Montserrat', serif;
}

.nav-items{
    display: flex;
    align-items: end;
}

.navbar-links {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #fff;
  position: relative;
}

.navbar-links a{
    padding: 1rem;
    color: #fff;
    position: relative;
  }

.navbar-links .nav-link {
  color: rgb(164, 182, 204);
  text-decoration: none;
  font-size: 1.1em;
}

.navbar-links .nav-link:hover {
  color: rgb(200, 220, 244);
}

.dropdown {
  position: relative;
  display:inline;
  float: right;
}

.add-user-btn {
  background-color: rgb(164, 182, 204);
  color: #222938;
  font-size: 1.1em;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.1s;
}

.add-user-btn:hover {
  background-color: #222938;
  color: rgb(164, 182, 204);
}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: #00000030;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1000;
  padding: 10px;
  top: 50px;
  left: -40%;
}

.dropdown-content form {
  display: flex;
  flex-direction: column;
}

.dropdown-content input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dropdown-content button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.dropdown-content button:hover {
  background-color: #439848;
}

