.users{
    margin: 50px;
}

.user {
    border: 1px solid #00000043;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 10px;
    margin: 40px;
    width: 200px;
    text-align: center;
    transition: transform 0.2s;
  }
  .user:hover{
    transform: scale(1.1);
  }
  
  .user img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    
  }
  
  .user h2 {
    color: rgb(164, 182, 204);
    margin: 10px 5px;
    font-size: 1.2em;
  }
  
  .user p {
    margin: 5px 0;
    font-size: 0.9em;
    color: rgb(164, 182, 204);
    overflow-wrap: break-word;
  }
  
  